@import '../../theme/palette';

.catcher {
  margin-top: 10px;
  padding: 12px;
  border: 1px solid darken($colorSideBG, 15%);
  border-radius: 3px;
  background-color: $colorWhite;
  color: $colorGrey;
  text-align: center;

  span {
    color: $colorGrey;
    font-size: 24px;
  }
}
