$colorGrey: #CCD1D9;
$colorGreyText: #768387;
$colorGreyDarkText: #313B3D;
$colorGreyLite: #F2F6F7;
$colorGreyDark: #768387;
$colorWhite: #FFF;
$colorSideBG: #3C4B5D;
$colorBoxBG: #F5F8F9;
$colorBlue: #00B1EF;
$colorRed: #EC4E1B;
$colorBlueDark: #005CAE;
$colorGreen: #0D9E1A;
