@import '../../theme/palette';

.search {
    display: flex;
    flex-grow: 0 !important;
    align-items: center;
    margin-right: 25px;
    input {
        width: 365px;
        height: 42px;
        padding-left: 20px;
        border: 0;
        border-radius: 21px;
        outline: none;
        background: url('../../theme/assets/search.png') no-repeat 345px 8px;
        color: $colorGreyDark;
    }
}
.dark input {
    background-color: $colorGreyLite;
}
.lite input {
    background-color: $colorWhite;
}
